.btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btnNotify{
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: column;
}

.btnShared {
    width: 30%;
}

.btnInformation {
    width: 30%;
}